<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">{{sentData.title}}</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a mat-button class="nav-link " href="#profile" data-toggle="tab">
                  <i class="material-icons">search</i> Rechercher
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a mat-button class="nav-link" href="#messages" data-toggle="tab" (click)="add()">
                  <i class="material-icons">add</i>Ajouter
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a mat-button class="nav-link" href="#settings" data-toggle="tab" (click)="delete()">
                  <i class="material-icons">delete</i> Suprimer
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
              (change)="todoLeafItemSelectionToggle(node)">
            </mat-checkbox>
            {{node.item[sentData.columnToShow]}}
            <button mat-icon-button color="primary" (click)="addWithFather(node.item)" >
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="edit(node.item)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-tree-node>


          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item[sentData.columnToShow]">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
              (change)="todoItemSelectionToggle(node)">
            </mat-checkbox>
            {{node.item[sentData.columnToShow]}}
            <button mat-icon-button color="primary" (click)="addWithFather(node.item)">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="edit(node.item)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-tree-node>
        </mat-tree>
      </div>