
  <div class="container">
    <div class="title">
      L'orientation basée sur ce qui vous plaît
      <i class="fas fa-info-circle"></i>
    </div>
    <div class="options">
      <div class="option">
        <img alt="" src="assets/img/simulat.jpg" />
        <p>Simulation des efforts academiques</p>
        <button (click)="goToSimulation()">Commencer</button>
      </div>
      <div class="option">
        <img alt="Person making a choice" src="assets/img/niveau2.jpg" />
        <p>En choisissant directement</p>
        <button (click)="goToNiveau()">Commencer</button>
      </div>
    </div>
  </div>

