.datatable-container {
    height: 110px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  header-icon {
    padding: 0 14px;
    
  }
  .mat-icon{
    cursor: pointer;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  