<footer class="footer ">
    <div class="container-fluid">
        <!-- <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        
                    </a>
                </li>
                <li>
                    <a href="#">
                        A Propos
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
            </ul>
        </nav> -->
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Tous droits reservés
            <a href="#" target="_blank">JC</a> .
        </div>
    </div>
</footer>
